<div class="view view--{{ size }}">
  <style>
    .trmnl .column {
      display: block;
      column-count: 2;
      column-gap: 20px;
    }

    .small {
      width: 8px;
    }

    .trmnl .item {
      width: 100%;
      margin-bottom: 10px;
      break-inside: avoid;
    }

    .trmnl .item .meta {
      width: 50px;
      display: flex;
      align-items: center;
      gap: 4px;
    }

    .trmnl .time--delayed {
      text-decoration: line-through;
      opacity: 0.6;
    }

    .trmnl .transport-icon {
      width: 0.9em;
      height: 0.9em;
      display: inline-block;
      flex-shrink: 0;
    }
  </style>

  <div class="layout">
    <div class="columns">
      <div class="column" data-list-limit="true" data-list-max-height="1100" data-list-hidden-count="true">

        {% for call in data.stopPlace.estimatedCalls %}
        <div class="item">
          <div class="meta small">
            <span class="index">{{ call.serviceJourney.line.publicCode }}</span>
          </div>
          <div class="content">
            <div>
              {% if call.serviceJourney.line.transportMode == 'bus' %}
              <svg class="transport-icon" role="presentation" xml:space="preserve" x="0" y="0" viewBox="0 0 16 16"
                width="1em" height="1em">
                <g fill="#000000" fill-rule="evenodd" clip-rule="evenodd">
                  <path d="M10.5 11.8a1 1 0 1 1 1.998.003A1 1 0 0 1 10.5 11.8"></path>
                  <path
                    d="m14.996 9.595-.7-4.296A.35.35 0 0 0 13.95 5H1.7c-.35 0-.7.358-.7.717v4.925c0 .178.128.358.3.358h1.547c.236-.719.906-1.2 1.703-1.2s1.468.481 1.703 1.2h3.544c.236-.719.906-1.2 1.703-1.2s1.467.481 1.703 1.2h1.447c.193 0 .35-.161.35-.358v-.988q0-.03-.004-.06m-2.84-2.805c0-.198.158-.358.35-.358h1.087a.35.35 0 0 1 .347.311l.185 1.432a.36.36 0 0 1-.085.282.34.34 0 0 1-.262.122h-1.272a.354.354 0 0 1-.35-.358zm-4.2 0c0-.198.157-.358.35-.358h2.8c.193 0 .35.16.35.358V8.22a.354.354 0 0 1-.35.358h-2.8a.354.354 0 0 1-.35-.358zm-4.2 0c0-.198.157-.358.35-.358h2.8c.194 0 .351.16.351.358V8.22a.355.355 0 0 1-.35.358h-2.8a.354.354 0 0 1-.35-.358zm-2.1 0c0-.198.158-.358.35-.358h.701c.193 0 .349.16.349.358V8.22a.353.353 0 0 1-.349.358h-.7a.354.354 0 0 1-.35-.358z">
                  </path>
                  <path d="M3.55 11.8c0-.551.449-1 1-1s1 .449 1 1a1 1 0 0 1-2 0"></path>
                </g>
              </svg>
              {% endif %}
              <span class="title title--small">{{ call.destinationDisplay.frontText }}</span>
            </div>

            <div class="flex gap--small">
              {% assign aimed = call.aimedDepartureTime | date: "%H:%M" %}
              {% assign expected = call.expectedDepartureTime | date: "%H:%M" %}

              {% if aimed != expected %}
              <span class="label label--small time--delayed">{{ aimed }}</span>
              <span class="label label--small label--underline">{{ expected }}</span>
              {% else %}
              <span class="label label--small">{{ aimed }}</span>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>

  <div class="title_bar">
    <span class="title">Avganger fra {{ data.stopPlace.name }}</span>
    <span class="instance">Sist oppdatert: {{ 'now' | date: '%s' | plus: trmnl.user.utc_offset | date: '%H:%M'
      }}</span>
  </div>
</div>